<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gautam.medicinetime">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Home.AppointmentList"
            android:exported="false" />
        <activity
            android:name=".Home.Maps"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".Home.DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".Home.PatientProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Home.PatientInfoActivity"
            android:exported="true" />
        <activity
            android:name=".Home.SignUp"
            android:exported="false" />
        <activity
            android:name=".Home.LogIn"
            android:exported="false" />
        <activity
            android:name=".Home.EmailConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".Home.makeAppointment"
            android:exported="false" />
        <activity
            android:name=".Home.DoctorList"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Home.AppointmentAdapter" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Home.Appointment_Activity"
            android:exported="false" />
        <activity
            android:name=".Home.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drugs.medicine.MedicineActivity"
            android:parentActivityName=".Home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity android:name=".MainActivity" /> -->
        <activity android:name=".drugs.addmedicine.AddMedicineActivity" />
        <activity android:name=".drugs.alarm.ReminderActivity" />
        <activity android:name=".drugs.report.MonthlyReportActivity" />
    </application>

</manifest>